doctype 5
html(lang="en")
    head
        title= 'Primordial'
        script(type='text/javascript',src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
        script(type='text/javascript',src='javascripts/primordial.js')
    body
        #content
            h1 Primordial
            button#action(onclick='go()') Go!
            span#status
            script(type='text/javascript')
                $(function() {
                    console.log("Setting primordial's yield function");
                    primordial.yieldTo(function(result) {
                        console.log('being yielded the floor...');
                        $('#status').text(result.number + " is " + (result.isPrime?"":"not ") + "prime.");
                    });
                });
                function go() {
                    primordial.next();
                    $('#action').remove();
                }
